body{
    font-family: "Nunito", sans-serif;
    background-color: #FBE0BE;
    font-size: 1.5vw;
}
div.message{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    background-color: #7FA3C8;
    color: Black;
    padding:30px 18px;
    border-radius: 5vw;
    font-size: 1vw;
    cursor:pointer;
    width:10vw;
    height:10vw;
    display:inline-flex;
    align-items: center;
    text-align: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: background-color 0.3s ease;
}
img{
    height: 5vw
}