:root{
    --input_color:#EDF6ED
}
body{
    font-family: "Nunito", sans-serif;
    font-size:0.9rem;
    background-color:#FBE0BE;
}
*{
    box-sizing: border-box;
}
form{
    padding: 1em;
    border: 1px solid lightgray;
    margin:2em auto auto auto;
    max-width: 450px;
    border-radius: 5px;
    overflow: hidden;
}
form input{
    margin-bottom: 1em;
    background-color:var(--input_color);
    border: 1px solid #D1D5D8;
}
form.button.Submit{
    background-color: #FEFEFA;
    padding: 0.8em;
    border: 0;
}
form.button.Submit:hover{
    background: lightgray;
}
label{
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
}
input{
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5em;
}
input:focus{
    box-shadow: 0 0 0 1px rgba(127,191,143,0.2);
}
label{
    float: left;
    width: calc(100% - 250px);
    white-space: nowrap;
}
button{
    display:flex;
    justify-content: center;
    align-items: center;
    width: calc(80% - 200px);
    height: calc(50% - 200px);
    cursor: pointer;
    margin: 0.5em auto;
}
div.Grid{
    display: grid;
    grid-template-columns:200px 200px;
    grid-template-rows:30px 30px;
    gap:20px;
}