a{
    text-decoration: none;
}
body{
    background-color:#FBE0BE;
    font-size: 1.45vw;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3px;
    font-palette: #3B3B3B;
}
img.Capybara{
    display: block;
    float: right;
    transform: translate(-350px,100px) scale(4) ;
}
h1.Title{
    max-width:50vw;
    padding: 1rem;
    font-family: Nunito semibold;
}
h2{
    font-family: Nunito semibold;
}
button.Button_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex:1;
    gap: 30px;
}
button.Generic1{
    background-color: #7FA3C8;
    color: Black;
    padding:30px 18px;
    border-radius: 5vw;
    font-size: 10px;
    cursor:pointer;
    width:10vw;
    height:10vw;
    display:inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: background-color 0.3s ease;
}
button.Generic1:hover{
    background-color: #6E92B6;
}
button.Generic2{
    background-color: #7FA89A;
    color: Black;
    padding:15px 18px;
    border-radius: 5vw;
    font-size: 10px;
    cursor:pointer;
    width: 10vw;
    height:10vw;
    display:inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: background-color 0.3s ease;
}
button.Generic2:hover{
    background-color: #6E9789;
}
button.Generic3{
    background-color: #E1B87A;
    color:Black;
    padding:15px 18px;
    border-radius:5vw;
    font-size: 10px;
    cursor:pointer;
    width: 10vw;
    height:10vw;
    display:inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: background-color 0.3s ease;
}
button.Generic3:hover{
    background-color: #D0A766;
}
button.Generic4{
    background-color: #C6A3C9;
    color:Black;
    padding:15px 18px;
    border-radius: 5vw;
    font-size: 10px;
    cursor:pointer;
    width: 10vw;
    height:10vw;
    display:inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: background-color 0.3s ease;
}
button.Generic4:hover{
    background-color: #B592B8;
}