*{
    font-family: 'Nunito', sans-serif;
}
body{
    background-color:#FBE0BE;
}
img.Plant{
    float: left;
}
img.Cloud{
    float: right;
}
div.grid-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:50px 50px;
    gap:15px;
}
div.Talk{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:50px 50px;
    gap:15px;
}
div.Link_container_organizations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex:1;
    gap: 30px;
}
div.Link_container_edu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex:1;
    gap: 30px;
}
/*Find better colors to use for the buttons*/
/*Readjust button sizes to look better*/
button.Org{
    background-color: #D9AE8E;
    padding: 30px 18px;
    border-radius: 10vw;
    font-size: 14px;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    display: inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
}
button.Edu{
    background-color: #2a9d8f;
    padding: 30px 18px;
    border-radius: 10vw;
    font-size: 14px;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    display: inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease;
}
button.Org:hover{
    background-color: #C99A76;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
button.Edu:hover{
    background-color: #238072;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
