* {
    font-family: "Nunito", sans-serif;
}
body {
    background-color: #FBE0BE;
}
h1, p{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.Display_for_buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.Helpline_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex:1;
    gap: 30px;
}
div.Resources{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex:1;
    gap: 30px;
}
button.Help{
    background-color: #D9AE8E;
    padding: 30px 18px;
    border-radius: 10vw;
    font-size: 14px;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    display: inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease;
}
button.Help:hover{
    background-color: #C99A76;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
button.Line{
    background-color: #2a9d8f;
    padding: 30px 18px;
    border-radius: 10vw;
    font-size: 14px;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    display: inline-flex;
    align-items: center;
    border: none;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease;
}
button.Line:hover{
    background-color: #238072;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}